body{
    background-color: rgb(255, 217, 0);
}
#heading{
    padding: 50px;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
}
.image{
      padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.btns {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    font-size: xx-large;
    cursor: pointer;
    background-color: black;
    color: red;
}
.btn{
    margin-top: 20px;
}
#bulb{
    margin: 0 auto;
    background-color: black;
    display: block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
#container{
    padding: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
    margin-top: 20px;
    text-align: center;
}




#mainn{
    border: 1px solid  rgb(0, 0, 0);
    display: flex;

}
.images{ 
    border: 1px solid  black;
    
    width: 300px;
    height: 150px;
    object-fit: contain;
}
button{
    padding: 6px;    
}
#myinput{

    width: 150px;
    padding: 7px;
    border: 1px solid  black;
    background: transparent;
    font-size: 15px;
    font-weight: 600;



}
.btnss{
    width: 30px;
    font-size: 15px;
    font-weight: 600;
}
.btnss:hover{
    cursor: pointer;
}

.signup{
 
    padding: 10px;
    border: 2px solid black;
}

.signup form input{
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid blue;
}
.signup button{
    font-weight: 700;
    font-size: 15px;
    width: 10%;
    background: transparent;
    border-radius: 20px;
    border: 2px solid brown;
    outline: none;
}

.signup form input:focus{
    border: none;
    border-bottom: 2px solid blue;
    outline: none;


}
